*{
  padding: 0;
  margin: 0;
  background-color: black;
}

html{
  height: 1000vh;
}

.header{
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  color: #FFF;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%;

  position: fixed;
}



.Main{
  display: flex;
  position: relative;

  top: 200px;

  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  color: #FFF;

  height: 600px;

}

.sidebar{
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  color: #FFF;

  width: 20%;
  height: 500px;

  

}

.Main__container{
  border: 1px solid yellow;
  padding: 10px;
  margin: 10px;
  color: #FFF;

}


